.jack-trevaskis {
    color: rgb(0, 179, 255);
    font-family: monospace;
    font-size: 70px;
    text-align: center;
    background-color: whitesmoke;
    position:  absolute;
    bottom: 540px;
    left: 0px;
    height: 135px;
    padding-top: 20px;
    width: 100%;
    border-radius: 0%;
    

}



.backgroundIMG1 {
    background-image: url(../IMG/powder-ski.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}   

.backgroundIMG2 {
    background-image: url(../IMG/JoeyGojira.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}   
    
img {
    display: block;
    max-width: 100%
}


  









.dropUp {
    font-size: 0px
  }


  .dropDown {
    position: absolute;
    color: rgb(0, 179, 255);
    font-size: 15px;
    font-family: monospace;
    background-color: whitesmoke;
    text-align: center;
    width: 250px;
    height: 500px;
    bottom: 35px;
    left: 35px;
    padding-top: 0px;
    padding-bottom: 10px;


  }



  .blogs {
    position: absolute;
    bottom: 570px;
    left: 450px;
    color: rgb(0, 179, 255);
    font-size: 25px;
    font-family: monospace;
    width: 75px;
    


  }




  .personal {
    position: absolute;
    bottom: 570px;
    left: 715px;
    color: rgb(0, 179, 255);
    font-size: 25px;
    font-family: monospace;
    width: 75px

}

  .DA {
    position: absolute;
    bottom: 570px;
    left: 1000px;
    color: rgb(0, 179, 255);
    font-size: 25px;
    font-family: monospace;
    width: 140px;

  }






.clickBox {

    height: 90px;
    width: 90px;
    position: absolute;
    right: 130px;
    top: 35px;
    color: red;
}



  .IMGChange {

    

    border-color:  rgb(0, 179, 255);
    border-style: solid;
    border-radius: 100%;
    position: absolute;
    right: 130px;
    top: 35px;
    width: 90px;
    height: 90px;

  }

  .IMGOff {
    height: 0px;
    width: 0px;
  }

.invisibleText {
    color: whitesmoke;
}